@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');

body {
    color:black;
    font-family: 'Noto Sans JP', sans-serif;
    text-align: center;
    padding: 5%;
}

.workout {
    margin: 20px;
}

.rename {
    margin: 10%;
}

.delete {
    margin-bottom: 10%;
}
.login-signup-box {
    padding: 5%;
}

.generator-form {
    padding: 5%;
}
