@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');

body {
    color:black;
    font-family: 'Noto Sans JP', sans-serif;
    text-align: center;
    padding: 5%;
}

.workout {
    margin: 20px;
}

h1 {
    color: blueviolet;
}