{% extends "base.html" %}

{% block content %}
        <h1>Swim workout generator</h1>
        <p><i>Based on your desired distance, we'll make you a workout</i></p>

        <div class="generator-form">
            <form method="post" action="/results">
                <div class="row justify-content-center">
                    <div class="form-group col-md-6">
                        <label for="dist">Enter distance</label>
                        <input type="number" class="form-control" name="dist"/>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <button type="submit" class="btn btn-primary" value="submit">Let's Swim</button>     
                </div>
            </form>
        </div>
    
    {% if session %}
        <div class="login-signup-box">
            <h3>Hello, {{ session['username'] }}!</h3>
            <h5><a href="/practices/mypractices">View Saved Practices</a></h5>
            <h5><a href="/logout">Logout</a></h5>
        </div>
        {% else %}
        <div class="login-signup-box">
            <p>You can save your workouts if you create an account!</p>
            <p>Already have an account? <a href="/login">Log in.</a></p>
            <p>No account? <a href="/signup">Sign up.</a></p>
        </div>
        {% endif %}
{% endblock %}