{% extends "base.html" %}

{% block content %}
        <h1>Swim workout generator</h1>
        <p>Based on the number of yards/meters, we'll make you a workout</p>
        <form method="post" action="/results">
            <input type="number" name="dist" placeholder="Enter"/>
            <input type="submit" value="Submit"/>
        </form>
    
    {% if session %}
        <div class="login-signup-box">
            <h3>Hello, {{ session['username'] }}!</h3>
            <h5><a href="/practices/mypractices">View Saved Practices</a></h5>
            <h5><a href="/logout">Logout</a></h5>
        </div>
        {% else %}
        <div class="login-signup-box">
            <p>You can save your workouts if you create an account!</p>
            <p>Already have an account? <a href="/login">Log in.</a></p>
            <p>No account? <a href="/signup">Sign up.</a></p>
        </div>
        {% endif %}
{% endblock %}