{% extends "base.html" %}

{% block title %}
        {% if practice.name %}
            {{practice.name}}
        {% else %}
            {{practice.dist}} Yard Workout
        {% endif %}
{% endblock %}

{% block content %}
        {% if practice.name %}
            <h1>{{practice.name}}</h1>
        {% else %}
            <h1>{{practice.dist}} Yard Workout</h1>
        {% endif %}
        {% for section in practice['workout'] %}
            <div class="card workout mx-auto" style="width: 18rem; margin: 20px;">
                <div class="card-body">
                    {% if section['label'] in ["warm up"] %}
                        <h2 class="card-title">Warm Up</h2>
                    {% endif %}
                    {% if section['label'] in ["main set"] %}
                        <h2 class="card-title">Main Set</h2>
                    {% endif %}
                    {% if section['label'] in ["cool down"] %}
                        <h2 class="card-title">Cool Down</h2>
                    {% endif %}
                    {% if section['repeat'] > 1 %}
                        <h5>Repeat {{ section['repeat'] }} times</h5>
                    {% endif %}
                    {% for eachset in section['set'] %}
                        <p class="card-text">{{ eachset[0] }} x {{ eachset[1] }} {{ eachset[2] }}</p>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
                
        <h4>Total distance: {{ practice['dist'] }}</h4>

        <div class="rename">
            <form method="post" action="/practices/{{practice._id}}">
                <div class="row justify-content-center">
                    <div class="form-group col-md-6 ">
                        <label for="name">Rename this Practice</label>
                        <input type="text" class="form-control" name="name"/>
                        
                    </div>
                </div>
                <div class="row justify-content-center">
                   <button type="submit" class="btn btn-primary">Rename</button>     
                </div>
            </form>
        </div>

        <div class="delete">
            <form method="post" action="/practices/{{practice._id}}">
                <div class="row justify-content-center">
                    <p>Delete this Practice. </p>
                    <p>(This cannot be undone)</p>
                </div>
                <div class="row justify-content-center">
                    <button name="delete" type="submit" class="btn btn-primary" value="delete">Delete</button>     
                </div>
            </form>
        


{% endblock %}}